* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 6rem;
}

.nav-items > ul {
  font-size: 1.5rem;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 0.1rem;
  margin: 0.5rem;
}

.search {
  padding: 0.625rem;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 15rem;
  margin: 1.25rem;
  padding: 1.25rem;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.3s;
}

.res-card:hover {
  transform: scale(1.05);
  border: 1px solid black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.res-card img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.res-card h3 {
  margin: 0.625rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.res-card h4 {
  font-size: 1rem;
  text-align: center;
  color: #79524b;
}

.res-info {
  width: 100%;
  text-align: center;
  padding: 0.625rem 0;
}

.res-info h3 {
  margin: 0.625rem 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}

.res-info h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.res-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.filter {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.filter-btn {
  margin: 0.625rem;
  cursor: pointer;
  margin: 30px 100px;
  padding: 10px 20px;
  position: absolute;
  top: 65px;
  left: 220px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shimmer-card {
  width: 18.75rem;
  height: 25rem;
  margin: 1.25rem;
  border-radius: 0.625rem;
  background: linear-gradient(to right, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
  background-size: 400% 100%;
  animation: shimmer 1s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

button {
  background-color: #49217d;
  color: white;
  padding: 0.3rem 1.25rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #4c2a5c;
}

search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.search-input {
  padding: 12px 20px;
  margin: 8px 2px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.search-btn {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #49217d;
  color: white;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #4c2a5c;
}

.search-input:focus {
  border: 2px solid #555;
}
